    <%= form_with(url: sessions_path , local: true) do |form| %>
        <div class="col-md-6 mx-auto mt-3">
            <div class="text-center">
                <h3>Sign In</h3>
                <p>Login to your account now!</p>
            </div>  
            <div class="form-group">
                <%= form.label :email , "Email Address" %>
                <%= form.email_field :email, { class: "form-control" , placeholder: "email@example.com"} %> 
            </div>
            <div class="form-group">
                <%= form.label :pwd , "Password" %>
                <%= form.password_field :pwd , { class: "form-control" , placeholder: "Password" } %>
            </div>
             <%= form.submit "Login Account" , { class: "btn btn-success btn-block" } %>
        </div>
    <% end %>