
    <%= form_with(model: @user , local:true ) do |form| %>
        <div class="col-md-5 mx-auto mt-2 mb-5">
            <div class="text-center">
                <h3>Sign Up</h3>        
                <p>Join us for free!</p>
                
            </div>  
            <%= render "shared/error_messages" , object: @user %>
            <div class="form-group">
                <%= form.label :name , "Name" %>
                <%= form.text_field :name, {class: "form-control" , placeholder: "John Doe"} %>
            </div>
            <div class="form-group">
                <%= form.label :email , "Email Address" %>
                <%= form.email_field :email, { class: "form-control" , placeholder: "email@example.com"} %>  
            </div>
            <div class="form-group">
                <%= form.label :password , "Password" %>
                <%= form.password_field :password , { class: "form-control" , placeholder: "Password" } %>
            </div>
            <div class="form-group">
                <%= form.label :password_confirmation , "Password Confirmation" %>
                <%= form.password_field :password_confirmation , { class: "form-control" , placeholder: "Password Confirmation" } %>
            </div>
            <%= form.submit "Create an Account" , { class: "btn btn-primary btn-block" } %>
        </div>
    <% end %>
    